* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 2rem;
  height: 100vh;
  width: 100vw;
  background-color: #d1dedd;
}

ul,
li {
  list-style: none;
}
h1,
h2,
h3 {
  color: #767f7e;
}
p {
  color: #828b8a;
}

img {
  object-fit: cover;
  aspect-ratio: 16/9;
}

header {
  max-width: 1200px;
  margin: 40px auto;
  border-bottom: 1px solid #bbc7c7;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  max-width: 1200px;
  margin: 20px auto;
}

article img,
article.featured img {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 8px;
}

article.featured {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
  border-bottom: 1px solid #bbc7c7;
  padding-bottom: 40px;
}

article p,
article h3 {
  margin: 20px 10px;
}

@media screen and (max-width: 980px) {
  article {
    grid-column: 1/4;
  }
}
