body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  align-items: center;
}

header {
  padding: 20px 40px;
  background-color: #fff;
}

header h1 {
  grid-column: 1/7;
}

header nav {
  grid-column: 7/13;
  justify-self: end;
}

header nav a {
  color: #333;
  margin-left: 10px;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}

main img {
  grid-column: 1/7;
  width: 100%;
  border-radius: 6px;
}

.welcome {
  grid-column: 8/13;
}

main > h2 {
  grid-column: 1/13;
  text-align: center;
  font-size: 1.5em;
  padding-top: 20px;
}

main .card {
  /* grid-column: 1/5; */
  grid-column: span 4;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 960px) {
  main img {
    grid-column: 2 / 12;
  }
  .welcome {
    grid-column: 3 / 11;
    text-align: center;
  }
  main .card {
    grid-column: 3 / 11;
  }
}
